---
language: ruby
dist: bionic
rvm:
- 2.6.6
cache:
  directories:
  - vendor/bundle
addons:
  postgresql: '10'
  apt:
    packages:
    - libarchive-dev
script: bundle exec manageiq-cross_repo
matrix:
  fast_finish: true
branches:
  only:
  - master
env:
  global:
  - REPOS=ManageIQ/manageiq#21596,ManageIQ/manageiq-providers-amazon#729
  matrix:
  - TEST_REPO=ManageIQ/manageiq#21596
  - TEST_REPO=ManageIQ/manageiq-providers-amazon#729
