dist: xenial
language: ruby
rvm:
- 2.5.5
cache:
  bundler: true
addons:
  postgresql: '10'
  apt:
    packages:
    - libarchive-dev
script: bundle exec manageiq-cross_repo
matrix:
  fast_finish: true
env:
  global:
  - REPOS=manageiq#19660,manageiq-providers-vmware#501
  matrix:
  - TEST_REPO=manageiq#19660
  - TEST_REPO=manageiq-providers-vmware#501
